<% @plots.each do |plot| %>
  <h4>Plot #<%= plot.number %></h4><br/>
  <% plot.plants.each do |plant| %>
    <%= plant.name %><br/>
    <%= button_to "Remove Plant #{plant.name} from Plot", "/plots/#{plot.id}", method: :delete, params: {plant_id: plant.id}%>
  <% end %><br/>
<% end %></br>
